# Dependencies
/vendor/
/node_modules/

# Logs
*.log
npm-debug.log
yarn-error.log

# Environment
.env
.env.backup
.env.production

# Laravel
bootstrap/compiled.php
storage/*.key
/storage/pail

# Build
/public/build

# Homestead
Homestead.yaml
Homestead.json
/.vagrant

# Cache
.phpunit.result.cache
/.phpunit.cache

# Auth
auth.json


# IDE / Editor
/.idea
/.vscode
/.fleet
/.nova
/.zed

# OS
.DS_Store
Thumbs.db